@media screen and (max-width: 767px) {
  .side-nav-icon {
    height: 30px;
    width: 30px;
    display: block;
  }

  /* wesite logo  */
  .flex-container {
    margin: 5px 5px;
    column-gap: 5px;
  }

  .show-in-mobile {
    display: block;
    margin-top: 5px;
  }

  .search-container {
    width: 100%;
    display: none;
  }

  .search-input {
    padding: 3px;
    border-radius: 10px;
    width: 100%;
    /* margin-right: -100px; */
  }

  .inner-flex {
    column-gap: 2px;
    margin-top: 10px;
  }

  .profile-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
  .heart-logo {
    height: 10px;
  }

  .action-container {
    display: none;
  }

  .image-container {
    width: 60%;
  }

  /* Nav-Bar in phone view .............. */
  .nav-bar-container {
    display: none;
  }

  .show-in-mobileView {
    display: none;
  }

  .moibile-nav-bar {
    width: 70%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0px;
  }

  .link {
    border: 10px;
    border-color: red;
    padding: 8px;
    background-color: white;
    color: white;
  }

  .cross-icon-container {
    background-color: burlywood;
    text-align: right;
    padding: 15px;
  }

  .cross-icon {
    height: 20px;
    width: 20px;
  }

  /* background-image.............. */
  .arrow {
    width: 60%;
  }

  /* <!-- SPECIAL DEALS Section......................................... --> */
  .card-flex {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .btn-card {
    padding: 8px;
    width: 48%;
  }

  /* pic your mood................ */
  .group-image-container {
    flex-direction: column;
  }

  .child-container {
    width: 100%;
  }

  /* style for every-occasion section................ */
  .every-occasion {
    flex-direction: column;
    margin: 20px 20px;
  }

  .occasion-child-container {
    width: 100%;
  }

  /* HUES OF THE SEASON STYLE............... */
  .huse-seson-container {
    padding: 0px 20px;
    row-gap: 20px;
    flex-direction: column;
  }

  .huse-images {
    width: 100%;
  }

  /* <!-- First Look Section......................................... --> */
  .first-look-container {
    flex-direction: column;
    padding: 0px 20px;
    row-gap: 20px;
  }

  .child-containers {
    width: 100%;
  }

  /* user source style.................................. */
  .user-source {
    padding: 5% 10%

  }

  /* <!-- Footer....................................... --> */
  .input-box {
    width: 60%;
    padding: 10px;
    font-size: 10px;
    row-gap: 10px;
  }
  .submit-btn {
    width: 20%;
    font-size: 10px;
    padding: 10px;
  }
  .links-flex {
  flex-direction: column;
  }

.heading {
    display: none;
}
.list1, .list2, .list3, .list4 {
    display: none;
}

.click-h1, .click-h2, .click-h3, .click-h4 {
    display: block;
    font-size: 20px;
    line-height: 5px;

}
.company-logo {
    margin-top: 20px;
}


  /* <!-- Curvy Style................................................... --> */
  .curvy-style {
    flex-direction: column;
  }

  .first-child {
    width: 100%;
    padding: 10px;
  }
  .plus-size-image-container {
    margin-left: 70px;
  }
  .inner-child {
    flex-direction: column;
    row-gap: 20px;
  }
  .shop-plus-size {
    width: 80%;
  }
  .con {
    width: 100%;
  }
  .child-image1 {
    bottom: 0px;
    text-align: right;
    position: static;
  }
  .image2 {
    width: 100%;
  }
  .image22 {
    width: 100%;
  }
  .second-child {
    position: static;
  }
  .child-image2 {
    position: static;
  }

  /* <!-- Best Sellers Section...........................................  --> */
  .sellers-navbar  {
    margin: 2%;
  }
  .owl-prev {
    font-size: 50px !important;
    bottom: 50%;
  }
  .owl-next {
    font-size: 50px !important;
    bottom: 50%;
  }
}
